@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");

body {
  transform: translate3d(0px, 0px, 0px);
  height: 100%;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(126, 126, 126, 0.836);
  border-radius: 20px;
  border-right: 2px white solid;
  border-left: 2px white solid;

  background-clip: padding-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.986);
  backdrop-filter: blur(20px);
  z-index: 10;
}
.tags {
  background-color: rgba(255, 255, 255, 0.986);
  backdrop-filter: blur(20px);
  width: calc(100% - 5%);
  row-gap: 0.3rem;
  overflow-x: scroll !important;
}
.tags::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
.tags::-webkit-scrollbar-thumb {
  background-color: rgba(126, 126, 126, 0.836);
  border-radius: 20px;
  visibility: hidden;
}
.tags:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.option {
  display: flex;

  flex: 0 0 auto;
}

.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.sidebar {
  position: sticky !important;
  top: 3.5rem;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(126, 126, 126, 0.836);
  border-radius: 20px;
  visibility: hidden;
}
.scroll:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
/* .scroll::-webkit-scrollbar-track {
  background-color: aqua;
} */

/* background: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.63)),
url(../public/imgs/background.jpg) center center;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; */

.cover {
  background: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.726)),
    url(../public/img/cover.jfif) center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
